# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Added by developers to ensure we don't break the site.
.idea
.htaccess
.DS_Store