article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: arial,sans-serif; color: #333333; }
body { margin: 0; font-size: 10px; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================

   ========================================================================== */

/*general reusable classes*/
.blueText{
  color:#0079BE;
}
.left{
  float:left;
}
.right{
  float:right;
}
.customerInfo{
  float:right;
  padding-bottom: 8px;
}
.centerConstrain{
  width:960px;
  margin:0 auto;
}
.error{
  color:#602831;
  font-weight:bold;
  display: block;
  /*padding-bottom:20px;*/
 /* margin-left:-18px;*/
}
.error img{
  padding-right:5px;
}
.error_msg{
  color:#929292;
  /*font-size:0.615em;*/
  font-size:9px;
  padding-left:5px;
}
.error_input{
  outline:solid #602831 1px;
}
.errorIcn{
 position:absolute;
 float:left;
 left:15px;
 margin-top:-2px;
 width:13px;
 height:20px;
 background:url(../img/error_arrow.png);
}
.errorMsgHolder{
   color:#602831;
   font-weight:bold;
   display: block;
   padding-bottom:5px;
   padding-top:5px;
   /*padding-left:10px;*/
   font-size:11px;
}

.btn{
  font-size:12px;
  background:blue;
  border:solid #93a4ac 1px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  height:25px;
  color:#FFFFFF;
  background: #b7dde8; /* Old browsers */
  
  position: relative;/*for IE and PIE*/
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZGRlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZhYTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b7dde8 0%, #006aa6 40%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7dde8), color-stop(40%,#006aa6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b7dde8 0%,#006aa6 40%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b7dde8 0%,#006aa6 40%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b7dde8 0%,#006aa6 40%); /* IE10+ */
  background: linear-gradient(top, #b7dde8 0%,#006aa6 40%); /* W3C */
}
.lt-ie9 .btn{
  /*make IE play nice with the rounded corners, issue with BG so we use a png*/
  behavior: url(PIE.htc);
  background:#046ca7 url(../img/btn_bg_alt.png) top left repeat-x;
}
.fixed_btn{
  width:120px;
  text-align:center;
}
.btn_disabled{
  background-color:#cacaca;
  font-size:12px;
  border:solid #999999 1px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  height:25px;
  color:#FFFFFF;
  position: relative;/*for IE and PIE*/
}
.lt-ie9 .btn_disabled{
  /*make IE play nice with the rounded corners, issue with BG so we use a png*/
  behavior: url(PIE.htc);
  
}
.btn_nobg{
  padding:0 20px;
  font-size:12px;
}
.rightBox{
  border-radius:4px;
  padding:20px;
  border:solid #a0b1b9 1px;
  position: relative;
  width: 326px;
  background:#FFFFFF;
}
.rightBox ul{
  margin:0 0 0 20px;
  padding:0;
}
.rightBox ul li{
  list-style:line;
  font-size:12px;
}
.lt-ie9 .rightBox{
  behavior: url(PIE.htc);
}
.blueBox{
  border-radius:4px;
  padding:20px;
  border:solid #a0b1b9 1px;
  position: relative;
}
.lt-ie9 .blueBox{
  behavior: url(PIE.htc);
}
#pop{
  height:100%;
  width:100%;
  background:rgba(71,123,149,0.5);
  position: absolute;
  z-index:100;
  text-align:center; /*make the box center*/
}
.lt-ie9 #pop{
  background:url(../img/pop_bg_alt.png);
}
#popbox{
  background:#FFFFFF;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  position:relative;
  padding:20px;
  display:inline-block;
  /*margin-top:300px;*/
  top:300px;
  width:340px;
}
.lt-ie9 #popbox{
  behavior: url(PIE.htc);
}
.pop_header{
  /*font-size:1.385em;*/
  font-weight:bold;
  color:#2d5a7b;
  font-size:19px;
  padding-bottom:20px;
}
p.pop_text{
  padding:20px 0;
  /*width:300px; changed for hp_01c*/
  font-weight:bold;
  text-align:center;
}
.tooltip_pop{
  position:absolute;
  min-width:200px;
  width:350px;
  z-index:200;
}
.tooptip_interior{
  padding:10px;
  background:#FFFFFF;
  border:solid #acc8d4 1px;
  border-radius:4px;
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
  box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
  font-size:12px;
}
.close_btn{
  float:right;
  /*font-size:0.769em;*/
  font-size:10px;
  cursor:pointer;
}
.tooltip_heading{
  /*font-size:0.769em;*/
   font-size:14px;
  font-weight:bold;
  padding-bottom:20px;
}
.tooltip{
  padding-left:5px;
  cursor: pointer;
}
.labelabove_holder{
  display:inline-block;
  padding-bottom:20px;
}
.labelabove_box{
  display:inline-block;
  padding-right:10px;
}
.label_right{
  padding-left:10px;
}
.padding_below{
  padding-bottom:10px;
}
.nomargin{
  margin:0;
}
.nopadding{
  padding:0;
}
.centerText{
  text-align:center;
}
.imgholder{
                margin:0px;
                padding:0px;
                margin-top:-30px;
				*margin-top:-31px;
                margin-right:-30px;
}
.imgholder img{
        padding:0px;
}

/*general reusable classes*/

body{
  background: url(../img/dci_cac_bkgrd-blueG.jpg) top left repeat-x;
}
/*Set standard classes*/
h1,h2,h3,h4,h5{
  line-height:1;
  padding:0;
  margin:0;
}
h1{
  /*font-size:1.923em;*/
  font-size:32px;
  color:#2d5a7b;
}
h2{
  /*font-size:1.231em;*/
  font-size:16px;
  color:#006192;
  margin-top:30px;
  padding-bottom:30px;
}
h3,h4,dt{
  /*font-size:0.923em;*/
  font-size:14px;
}
/*tabbed header witht he gray bg*/
.tabHeader{
  position: relative;
  background:#cacaca;
  border-radius:10px 10px 0 0;
  height:20px;
  padding:7px 0 0 5px;
  /*margin-top:30px;*/
  background: #f8f8f8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f8f8f8 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* W3C */
}
.tabHeaderCollapse{
  position: relative;
  background:#cacaca;
  border-radius:10px 10px 0 0;
  height:20px;
  padding:7px 0 0 5px;
  /*margin-top:30px;*/
  background: #f8f8f8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f8f8f8 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(top, #f8f8f8 0%,#d8d8d8 100%); /* W3C */
}
.lt-ie9 h3.tabHeader{
  /*make IE play nice*/
  behavior: url(PIE.htc);
  background:#FFFFFF url(../img/tab_header_bg_alt.jpg) top left repeat-x;
}
.lt-ie9 h3.tabHeaderCollapse{
  /*make IE play nice*/
  behavior: url(PIE.htc);
  background:#FFFFFF url(../img/tab_header_bg_alt.jpg) top left repeat-x;
}
h4{
  padding-bottom:20px;
}
p{
  /*font-size:0.769em;*/
  font-size:12px;
  line-height:1.25em;
  padding-bottom:5px;
  margin:0;
}
p.addPadding{
  padding-bottom:15px;
}
/* gray bg for MP_01 Account Information area */

#gray {
	width: 900px;
	background: #F2F3F5;
	margin-left: -30px;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	}
label, select, input{
   /*font-size:0.769em;*/
  font-size:12px;
}

label{
  font-weight:bold;
  display:inline-block;
  /*padding-top:12px;*/

}
.shortLabel{
  display:inline-block;
  width:220px;
}
.shortrow{ 
  padding-left:230px; 
}
.longLabel{
  display:inline-block;
  width:425px;
}
.labelabove{
  display: block;
  padding-bottom:10px;
}
/*for things above the large banner images*/
h3.nomargin{
  margin:0;
  padding-bottom:10px;
}

.progress{
  /*font-size:0.615em;*/
  font-size:9px;
  font-weight:bold;
  /*padding-top:30px;*/
}
.progress span{
 /* font-size:1.723em;*/
 font-size:18px;
}
.step{
  width:290px;
  float:left;
}
#stepOne{

}
#stepTwo, #stepThree{
  margin-left:10px;
}
.current_step div{
  height:10px;
  background: #bfd7e1; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDdlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NGI3Y2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #bfd7e1 0%, #94b7ca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd7e1), color-stop(100%,#94b7ca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd7e1 0%,#94b7ca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd7e1 0%,#94b7ca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd7e1 0%,#94b7ca 100%); /* IE10+ */
  background: linear-gradient(top,  #bfd7e1 0%,#94b7ca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd7e1', endColorstr='#94b7ca',GradientType=0 ); /* IE6-8 */

}
.disabled_step{
  color: #d0d0d0;
}
.disabled_step div{
  height:10px;
  background: #efefef; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmQwZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #efefef 0%, #cfd0d2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cfd0d2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #efefef 0%,#cfd0d2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #efefef 0%,#cfd0d2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #efefef 0%,#cfd0d2 100%); /* IE10+ */
  background: linear-gradient(top,  #efefef 0%,#cfd0d2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cfd0d2',GradientType=0 ); /* IE6-8 */
}

.progress_bar{

}
/*ending standard styles*/
/*more specific*/
#wrapper{
  background:url(../img/CAC_Background_2.png) top center no-repeat;
  max-width:1260px;
  min-width:960px;
  margin:0 auto;

  /*padding:0 30px;*/
}
.lt-ie9 #wrapper{
  overflow: visible;
}
/*
  oooo                                  .o8                     
  `888                                 "888                     
   888 .oo.    .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b 
   888P"Y88b  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P 
   888   888  888ooo888  .oP"888  888   888  888ooo888  888     
   888   888  888    .o d8(  888  888   888  888    .o  888     
  o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b    
                                                                
                                                                
                                                                
*/
#header{
  height:48px;
  padding-top:70px;
  text-align:right;
  /*font-size:0.692em;*/
  font-size:9px;
}
#header a:link, #header a:active, #header a:hover, #header a:visited{
  color:#FFFFFF;
  text-decoration:none;
  margin-right:125px;
  font-weight:bold;
  font-size:10pt;
  
}
/*
      .                                                             
    .o8                                                             
  .o888oo  .ooooo.  oo.ooooo.     ooo. .oo.    .oooo.   oooo    ooo 
    888   d88' `88b  888' `88b    `888P"Y88b  `P  )88b   `88.  .8'  
    888   888   888  888   888     888   888   .oP"888    `88..8'   
    888 . 888   888  888   888     888   888  d8(  888     `888'    
    "888" `Y8bod8P'  888bod8P'    o888o o888o `Y888""8o     `8'     
                     888                                            
                    o888o                                           
                                                                    
*/
#nav{
  /*padding-top:4px;*/
  width:980px;
  margin:0 auto;
  
}
.lt-ie9 #nav ul{
 /* width:940px;
  margin-left:10px; */
}
#nav ul{
  margin:0 0 0 10px;
  padding:0;
  border-right:solid #0079be 1px;  
  border-bottom:solid #0079be 1px;
  width:960px;
}
#nav ul li{
  font-weight:bold;
  /*font-size:0.692em;*/
  font-size:11px;
  float:right;
  list-style:none;
  margin:0;

}
#nav ul li a:link, #nav ul li a:active, #nav ul li a:hover, #nav ul li a:visited{
  text-decoration:none;
  color:#333333;
}
#nav ul li a{
  /*height:20px;*/
  display: block;
  padding:4px 20px 1px 20px;
  border-left:solid #0079be 1px;

  background: #dadadc; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #dadadc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dadadc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#dadadc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#dadadc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#dadadc 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#dadadc 100%); /* W3C */
}
.lt-ie9 #nav ul li a{
  background-image:url(../img/nav_btn_alt_bg.gif);
}
#nav ul li a.current{
  background:#FFFFFF;
}
/*
                               o8o              
                               `"'              
  ooo. .oo.  .oo.    .oooo.   oooo  ooo. .oo.   
  `888P"Y88bP"Y88b  `P  )88b  `888  `888P"Y88b  
   888   888   888   .oP"888   888   888   888  
   888   888   888  d8(  888   888   888   888  
  o888o o888o o888o `Y888""8o o888o o888o o888o 
                                                
                                                
                                                
*/
#main{
  background:#FFFFFF;
  width:980px;
  position: relative;
  background:url(../img/main_shadow_alt.png) top left repeat-y;
  margin:0 auto;
}
.lt-ie9 #main{
  /*margin-left:-10px;*/
  behavior:url(PIE.htc);
  
  /*margin:0 auto;*/
}
/*
                                      .                             .   
                                    .o8                           .o8   
   .ooooo.   .ooooo.  ooo. .oo.   .o888oo  .ooooo.  ooo. .oo.   .o888oo 
  d88' `"Y8 d88' `88b `888P"Y88b    888   d88' `88b `888P"Y88b    888   
  888       888   888  888   888    888   888ooo888  888   888    888   
  888   .o8 888   888  888   888    888 . 888    .o  888   888    888 . 
  `Y8bod8P' `Y8bod8P' o888o o888o   "888" `Y8bod8P' o888o o888o   "888" 
                                                                        
                                                                        
                                                                        
*/
#content{
  padding:30px 40px;
}
.lt-ie9 #content{
  /*padding:30px 40px;*/
}
a:link, a:active, a:hover, a:visited{
  text-decoration:none;
  color:#333333;
}
/*text that begins after a h3 needs 20px space*/
div.text{
  padding-top:20px;
  padding-bottom:30px;
  font-size:10pt;
}
#content a{
  color:#0079be;
  text-decoration:none;
  /*font-size:0.769em; may cause other issues, removed to fix sizing issue*/
}
#titlebar{
  padding-bottom:30px;
}
div.userInfo{
  float:right;
  text-align:right;
}
.greyline{
  width:100%;
  border-bottom:1px solid #CCC;
  margin-top:20px;
  margin-bottom:20px;
}
.table1{
  width:100%;
  /*font-size:0.769em;*/
  font-size:12px;
  text-align:left;
  margin-bottom:10px;
  margin-top:10px;
}
.table1 select, input{
	/*font-size:1em;*/
  font-size:12px;
	margin-bottom:5px;
}
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	/*background-color: #e6EEEE;*/
	background-color: #006192;
	/*border: 1px solid #FFF;*/
	color: White;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	/*background-color: #8dbdd8;*/
	background-color: #006192;

}
.scrollBox{
  overflow-y: scroll;
  height: 165px;
  border: solid #CCCCCC 1px;
  padding: 10px;
}
#tcBox{
  width:500px;
}
/*
   .o88o.                         .                         oooo   o8o              oooo                 
   888 `"                       .o8                         `888   `"'              `888                 
  o888oo   .ooooo.   .ooooo.  .o888oo  .ooooo.  oooo d8b     888  oooo  ooo. .oo.    888  oooo   .oooo.o 
   888    d88' `88b d88' `88b   888   d88' `88b `888""8P     888  `888  `888P"Y88b   888 .8P'   d88(  "8 
   888    888   888 888   888   888   888ooo888  888         888   888   888   888   888888.    `"Y88b.  
   888    888   888 888   888   888 . 888    .o  888         888   888   888   888   888 `88b.  o.  )88b 
  o888o   `Y8bod8P' `Y8bod8P'   "888" `Y8bod8P' d888b       o888o o888o o888o o888o o888o o888o 8""888P' 
                                                                                                         
                                                                                                         
                                                                                                         
*/
#footerLinks{
  padding-left:30px;
  padding-bottom:20px;
  margin-left:10px;
  /*height:150px;*/
  background:url(../img/main_btm.gif) top left repeat-x;
  width:930px;
}
.lt-ie9 #footerLinks{
  /*margin-left:10px;
  width:910px;*/
}
.footerLinksList{
  float:left;
  width:170px;
  padding-left:20px;
}
.lt-ie9 .footerLinksList{
  padding-left:10px;
}
#footerLinks .firstLinksList{
  padding-left:0px;
}
.footerLinksList ul{
  margin:0;
  padding:0;
}
.footerLinksList ul li{
  list-style:none;
  padding-bottom:5px;
}
.footerLinksList_heading{
  font-weight:bold;
  color:#255583;
  /*font-size:0.769em;*/
  font-size:12px;
}
.footerLinksList ul li a:link, .footerLinksList ul li a:active, .footerLinksList ul li a:hover, .footerLinksList ul li a:visited{
  color:#0079be;
  text-decoration:none;
  /*font-size:0.692em;*/
  font-size:11px;
}
/*
   .o88o.                         .                      
   888 `"                       .o8                      
  o888oo   .ooooo.   .ooooo.  .o888oo  .ooooo.  oooo d8b 
   888    d88' `88b d88' `88b   888   d88' `88b `888""8P 
   888    888   888 888   888   888   888ooo888  888     
   888    888   888 888   888   888 . 888    .o  888     
  o888o   `Y8bod8P' `Y8bod8P'   "888" `Y8bod8P' d888b    
                                                         
                                                         
                                                         
*/
#footer{
  padding:20px 0;
  font-size:10px;
}
#footer ul{
  margin:0; 
  padding:0;
  /*font-size:0.692em;*/
  font-size:11px;
}
#footer ul li{
  list-style:none;
  float:left;
  /*320*/
  width:320px;
}
.lt-ie9 #footer ul li{
  width:310px;
  margin-left:9px;
}
#footer ul li.centerLink{
  text-align:center;
}
#footer ul li.lastLink{
  text-align:right;
}
#footer ul li a:link, #footer ul li a:active, #footer ul li a:hover, #footer ul li a:visited{
  color:#0079be;
  text-decoration:none;
  font-size:11px;
}


/*for IE7-8*/

.main_shadow_alt_btm{
  width:980px;
  margin:0 auto;
}

.fb_img{
  margin-left:30px;
  padding-bottom:10px;
}
#print{
  cursor: pointer;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  #header, #nav, img, #footer, #footerLinks, .noprint{
    display: none;
  }
}
