/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/*********************************************************************************************************

  Base styles
 **********************************************************************************************************/

 body { font-size: 18px;
 	line-height: 1.3em; 
 	word-spacing: 0.125em;

 }

 h1,h2,h3,h4,h5 { font-size: 2em;
 	line-height: 1.25em;
 }

 :focus { outline: dotted medium;  	
 	overflow: hidden;
 }

 :hover, :active { outline: 0; }

 a:focus, a:hover, a:active { color: #ffffff; 
	text-decoration: underline;
 }

 a { color: #eb6232; 
 	text-decoration: none;
 }
