/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */



/****************************************************************************************************************

Base CSS

***************************************************************************************************************/


body { 
	font-size: 18px;
	line-height: 1.4em;
	word-spacing: 0.125em;
	font-family: Cabin, Verdana, Geneva, sans-serif;
}

h1,
h2,
h3,
h4,
h5, 
.menu { 
	line-height: 1.25em;
	letter-spacing: .045em;
	font-family: "Yanone Kaffeesatz", "Lucida Grande", Helvetica, Arial;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.33em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1em; }

a { color: #EE492D;
	text-decoration: none;
}

a: focus, 
a:hover, 
a:active { 
	text-decoration: underline;
}

.menu .leaf {
	list-style-type: none;
	list-style-image: none;
}

/****************************************************************************************************************

Components CSS

***************************************************************************************************************/
#zone-branding {
	position: relative;
}

#region-header-search {
	position: absolute;
	height: 60px;
}

#region-branding {
	position: absolute;
	top: 26px;
	height: 127px;
}

#region-social-icons {
	position: absolute;
	top: 60px;
	right: 0px;
	height: 44px;
}

#region-header-user-links {
	position: absolute;
	right: 0px;
	top: 74px;
	height: 30px;
}

#region-header-menu {
	position: absolute;
	top: 105px;
	height: 36px;
}

.menu { 
	font-size: 1.5em;  
	width: 70%;
	margin: 0 auto;  
 }

#section-header {
	height: 152px;
	background: url('../images/page_bkgd.png') repeat-x;
}

#section-footer {
	height: 200px;
	background-color: #eee;
}

#zone-branding-wrapper {
	height: 152px;
	background: url('../images/header_background.png') no-repeat 52% 0;
}



/****************************************************************************************************************

Layout CSS

***************************************************************************************************************/

.menu li { float: left;
	margin-right: 40px;
}

.menu li:last-child { 
	margin-left: 80px;
}

form#search-block-form { 
	width: 30%;
	margin: 20px auto;
}

form#search-block-form input { 
	width: 100%;
	margin: 5px auto;
}


/** Footer **/
	#region-footer .block {
	float: left;
}

