/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */



/****************************************************************************************************************

Base CSS

***************************************************************************************************************/
*,html { box-sizing: borderbox; }

body { font-size: 18px;
	line-height: 1.4em;
	word-spacing: 0.125em;

}

h1,h2,h3,h4,h5 { line-height: 1.25em;
	letter-spacing: .045em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.33em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1em; }

a { color: #EE492D;
	text-decoration: none;
}

a: focus, a:hover, a:active { text-decoration: underline; }

:active, :hover { outline: 0;}

:focus { outline: medium dotted;
	overflow: hidden;
}

.menu .leaf {
	list-style-type: none;
	list-style-image: none;
}

form {}






/****************************************************************************************************************

Components CSS

***************************************************************************************************************/

.review {}

.profile {}

.person {}

.business {}


.menu { font-size: 1.1em;  width: 100%;
 }

.button {}

.section-header { background: url('../images/header_background.png') no-repeat 52% 0; }

.section-footer { background-color: #eeeeee ; }

input.form-submit{ display: none; }



/****************************************************************************************************************

Layout CSS

***************************************************************************************************************/

.sidebar {}

.menu li { float: left;
	margin-right: 40px;
}
.menu li:last-child { margin-left: 80px; }



form#search-block-form { width: 30%;
	margin: 20px auto;

}
form#search-block-form  input { width: 100%; margin: 5px auto; }

/** Footer **/
#region-footer .block {
  float: left;
}
